{% extends 'templates/base.html' %}

{% block title %}Analytics Page{% endblock %}
<head>
    {% include_chart_jscss %}
    {% load_chart charttype chartdata chartcontainer extra %}
</head>
{% block content %}
{% if user.is_authenticated %}
  <a href="{% url 'profile' %}">profile</a>
{% else %}
  <a href="{% url 'login' %}">login</a>
{% endif %}
  <h2>Profile</h2>
  <hr>
{% load nvd3_tags %}
<body>
    <h1>User Actions V/S Count</h1>
    {% include_container chartcontainer %}
</body>
{% endblock %}