{% extends 'templates/base.html' %}

{% block title %}Profile Page{% endblock %}

{% block content %}
<!--   <h5>Session Information from request</h5><br>
   <hr>
-->
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <a href="{% url 'analytics' %}">analytics</a>
  <a href="{% url 'logout' %}">logout</a>
{% else %}
  <a href="{% url 'login' %}">login</a>
{% endif %}
  <h2>Profile</h2>
  <hr>
  <h4><b>Why do you decide to log user actions?</b></h4>
  <p><i>User actions give information about the behaviour of a user, his thinking, the prominent sections of a user interface and tons of other information that can be fed to intelligent systems that learn each user's special traits, likings, interests and help better serve the information that's available for the user, personalized to the specific user, dynamically, meaning that the user model keeps on evolving. Thus, logging user actions is an important input for an adaptive system with regards to implicit user information collection.</i></p>
  <hr>
  <h5 style="color: red;">Please enable the tracker chrome extension and then click <a target="_blank" href="https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15">here</a> to go to stackoverflow Java questions page</h5>
  <hr><br>
{% load django_tables2 %} 
{% render_table table1 %}
<br> <hr> <br>
{% render_table table %}
{% endblock %}
