{% extends 'templates/base.html' %}

{% block title %}Profile Page{% endblock %}

{% block content %}
<!--   <h5>Session Information from request</h5><br>
   <hr>
-->
{% if user.is_authenticated %}
 <h2><a href="{% url 'profile' %}">Profile</a></h2>
 <h2><a href="{% url 'analytics' %}">Analytics</a></h2>
{% endif %}

<script type="text/javascript">
function toggle(id) {
  var e = document.getElementById(id);
    if(e.style.display == 'block')
      e.style.display = 'none';
    else
      e.style.display = 'block'; 
  var ids = ["content1","content2","content3","content4","content5","content6","content7","content8","content9","content10"];
  var index = ids.indexOf(id);
  ids.splice(index, 1);
  for (i = 0; i < ids.length; i++) { 
    var f = document.getElementById(ids[i]);
    f.style.display = 'none';
  }
}
</script>
<style type="text/css">
a {      
	 background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
      }
.main {
  display: none;
}
hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
    border-color: #EE82EE;
}
</style>
  <h2>Recommendations</h2><br><hr>
  <h4 style="color:red;">Following are the 10 given questions with 10 recommendations for each of these posts based on all wikibooks crawled links (92 links - 500+ sections)</h4>
  <hr>
  <div id="1"><a href="#" id="block" onclick="toggle('content1');">{{ title1 }}</a><pre class="main" id="content1" hidden >{{ content1 }}</pre></div>   <br> <hr>
  <div id="2"><a href="#" id="block" onclick="toggle('content2');">{{ title2 }}</a><pre class="main" id="content2" hidden >{{ content2 }}</pre></div>   <br> <hr>
  <div id="3"><a href="#" id="block" onclick="toggle('content3');">{{ title3 }}</a><pre class="main" id="content3" hidden >{{ content3 }}</pre></div>   <br> <hr>
  <div id="4"><a href="#" id="block" onclick="toggle('content4');">{{ title4 }}</a><pre class="main" id="content4" hidden >{{ content4 }}</pre></div>   <br> <hr>
  <div id="5"><a href="#" id="block" onclick="toggle('content5');">{{ title5 }}</a><pre class="main" id="content5" hidden >{{ content5 }}</pre></div>   <br> <hr>
  <div id="6"><a href="#" id="block" onclick="toggle('content6');">{{ title6 }}</a><pre class="main" id="content6" hidden >{{ content6 }}</pre></div>   <br> <hr>
  <div id="7"><a href="#" id="block" onclick="toggle('content7');">{{ title7 }}</a><pre class="main" id="content7" hidden >{{ content7 }}</pre></div>   <br> <hr>
  <div id="8"><a href="#" id="block" onclick="toggle('content8');">{{ title8 }}</a><pre class="main" id="content8" hidden >{{ content8 }}</pre></div>   <br> <hr>
  <div id="9"><a href="#" id="block" onclick="toggle('content9');">{{ title9 }}</a><pre class="main" id="content9" hidden >{{ content9 }}</pre></div>   <br> <hr>
  <div id="10"><a href="#" id="block" onclick="toggle('content10');">{{ title10 }}</a><pre class="main" id="content10" hidden >{{ content10 }}</pre></div>
<br>
<br>
<hr>
<hr>
<h4 style="color:red;"><b>Content Collection - More than 90 Java wikibooks pages collected as instructed.</b></h4>
<br><hr>
<h4 style="color:red;"><b>Content Indexing - Each collected page is divided into fragments with subheadings and stored while crawling itself. This gives us 500+ fragments which are used as atomic structures for searching/indexing/ranking. Please note that each of the recommended items has a score associated with it. Also note that each page has properties like title, url, content and a flag to indicate if it's the main page or a fragment inside the main page. Please refer to the provided readme for more detailed instructions about indexing implementation (All dynamically fetched based on input data. Provided api can be used to rank and score any input text other than the 10 posts provided too, just a search feature would need to be added on the UI).</b></h4>
<br><hr>
<h4 style="color:red;"><b>Originality - I have used Apache Lucene based ElasticSearch for indexing. For originality, I decided to scrap the default tf-idf based similarity measure and add a more powerful but experimental tool for this current dataset that works with long input queries caled "LM Jelinek Mercer similarity". This actually builds a language model based on JelinekMercer similarity measure and scoring happens accordingly and is used to smoothen the output. The ideal value for title queries is 0.1 and for long queries is 0.7. JelinekMercer smoothening uses interpolation to smoothen the results of a language model for different values of n in an n-gram. It uses techniques like Expectation-Maximization to find the value of lambda. </b></h4>
<br><hr>
{% endblock %}
